# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables & Secrets
.env

# User Uploads & Analysis Runtime artifacts
data/uploads/*
!data/uploads/.gitkeep
data/user_analysis/*
!data/user_analysis/.gitkeep

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
